<ion-header>
  <ion-toolbar color="primary">
    <ion-title>
      PDF Viewer with Ionic and Cloudinary
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <h2>Available PDF's</h2>
  <app-pdf-carousel (pdfEvent)="receivePdf($event)"></app-pdf-carousel>
  <ion-grid>
    <ion-row>
      <ion-col size="12">
        <ion-slides #slides [options]="slideOpts">
            <ion-slide *ngFor="let slide of pages">
              <img [src]="slide.url" alt="slide.page">
            </ion-slide>
            <ion-button float-left color="primary" slot="start" (click)="prev()">Prev</ion-button>
            <ion-button float-right color="primary" slot="end" (click)="next()">Next</ion-button>
        </ion-slides>
      </ion-col>
    </ion-row>
    <!--
    <ion-row>
        <img *ngIf="preview !== null" [src]="preview" alt="" class="preview">
    </ion-row>
    -->
    <br>
    <ion-row>
        <ion-button id="upload_widget_opener" (click)="uploadPDF()" color="primary">Upload PDF</ion-button>
    </ion-row>
  </ion-grid>
</ion-content>

<ion-footer>
  <ion-toolbar color="primary">
      <ion-title>© {{ currentYear }} Adrián Brito Pacheco</ion-title>
      <ion-buttons slot="end">
        <div class="github-button"><iframe allowtransparency="true" scrolling="no" frameborder="0" src="https://buttons.github.io/buttons.html#href=https%3A%2F%2Fgithub.com%2Fabritopach%2Fangular-ionic-master-detail&amp;title=&amp;aria-label=Star%20abritopach%2Fangular-ionic-master-detail%20on%20GitHub&amp;data-icon=octicon-star&amp;data-text=Star" style="width: 50px; height: 20px; border: none; padding-right: 5px"></iframe></div>
        <div class="github-button"><iframe allowtransparency="true" scrolling="no" frameborder="0" src="https://buttons.github.io/buttons.html#href=https%3A%2F%2Fgithub.com%2Fabritopach&amp;title=&amp;aria-label=Follow%20%40abritopach%20on%20GitHub&amp;data-text=GitHub" style="width: 67px; height: 20px; border: none;"></iframe></div>
      </ion-buttons>
  </ion-toolbar>
</ion-footer>
